@font-face {
    font-family: "Amatic-Bold";
    src: url(../assets/fonts/Amatic_SC/AmaticSC-Bold.ttf);
}

 @font-face {
     font-family: "Roboto-Reqular"; /* Имя шрифта */
     src: url(../assets/fonts/Roboto/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
 }

// @font-face {
//     font-family: "DancingScript-Bold"; /* Имя шрифта */
//     src: url(../assets/fonts/Dancing_Script/DancingScript-Bold.ttf); /* Путь к файлу со шрифтом */
// }

// @font-face {
//     font-family: "DancingScript-Regular"; /* Имя шрифта */
//     src: url(../assets/fonts/Dancing_Script/DancingScript-Regular.ttf); /* Путь к файлу со шрифтом */
// }
