/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

@import "_animations.scss";
@import "_fonts.scss";


h1, h2, h3, h4, h5, h6, p, span, button{
  // font-family: "Amatic-Regular"!important;
  font-family: "Amatic-Bold"!important;
}


p, li, a{
  font-family: "Roboto-Reqular"!important;
}

.bar{
  position: static!important;
}

.bar .my-btn{
	margin-right: 5px;
	font-size: 16px;
}

.nav-buttons{
  width: 100%;

  button:last-of-type{
    margin-right: 0;
    float: right;
  }

  span.user-name{
    float: right;
    font-size: 25px;
    margin-right: 8px;
    line-height: 34px;

    i{
      cursor: pointer;
      font-size: 17px;
      margin-left: 4px;
      position: relative;
      top: -2px;
      margin-right: 5px;
    }
  }
}

.my-btn{
	border: 1px solid;
	border-color: #444!important;
    min-height: 33px;
    line-height: 33px;
    font-size: 20px;
}

.spinner-wrapper{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 22px;
  bottom: 0;
  left: 0;
  right: 0;

  //.spinner svg {
  //  width: 28px;
  //  height: 28px;
  //  stroke: #444;
  //  fill: #444;
  //}
}

.app-name{
  font-size: 30px;
  margin: 0 auto;
}

#register-page,
#login-page{
	.btn-wrapper{
		margin-top: 15px;
		text-align: center;
	}

	.devider{
		padding: 0px 5px;
    	display: inline-block;
    	margin-top: 7px;
	}
 }

#todo-page{
	.line-through{
	    text-decoration: line-through;
	 }
}

.padding-page{
	padding: 20px;
}

#gameroom-page{
  padding-right: 27px;

  .finish-flag{
    float: right;
    width: 35px;
    margin-right: -22px;
  }

  .finish-flag:first-of-type{
    margin-top: 40px;
  }

	.competition{
    margin-top: 40px;
    border-right: 1px solid #B5B5B5;

    .snail-wrapper{
      margin-top: 20px;
      position: relative;

      .snail-text{
        left: 65px;
        top: -20px;
        background: #DEDEDE;
        display: inline-block;
        padding: 7px 15px;
        border-radius: 30px;
        position: absolute;

        &:before{
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 0 0;
          border-color: #DEDEDE transparent transparent transparent;
          position: absolute;
          top: 29px;
          left: 6px;
        }
      }
    }

  }

  rzslider{
    .rz-bar-wrapper:first-of-type .rz-bar,
    .rz-bubble{
      display: none;
    }

    .rz-bar{
      height: 3px!important;
      border-radius: 50%!important;
    }

    .rz-pointer{
      background-image: url(../assets/images/snail.png);
      background-size: 100%;
      background-color: transparent;
      background-repeat: no-repeat;
      border: 0;
      border-radius: 0;
      width: 58px;
      height: 35px;
      top: -30px;

      &:after{
        display: none;
      }
    }
  }
}




