<div id="gameroom-page" class="padding-page">
	<button class="button my-btn" ng-click="start()">Start</button>
	  <div class="competition">
	    <rzslider
	              rz-slider-model="firstSnail.value"
	              rz-slider-options="firstSnail.options"
	              class="input-range"
	            ></rzslider>
	     <rzslider
	              rz-slider-model="secondSnail.value"
	              rz-slider-options="secondSnail.options"
	              class="input-range"
	            ></rzslider>
	    <rzslider
	              rz-slider-model="thirdSnail.value"
	              rz-slider-options="thirdSnail.options"
	              class="input-range"
	            ></rzslider>
	  </div>
</div>
      
