<div id="gameroom-page" class="padding-page" ng-hide="showSpinner">
	<button class="button my-btn" ng-click="move()" ng-disabled="introduction">Move</button>
  <img class="finish-flag" src="main/assets/images/finish_flag.png" alt="Finish flag img">

	  <div class="competition">

      <div class="snail-wrapper" ng-repeat="player in snails" ng-class="{transition: pageLoaded}">
        <span class="snail-text" ng-show="player.showLabel">{{ player.name || 'Lord of Snails'}}</span>
        <span class="snail-text" ng-show="sayLetsGo">{{ "Let`s go!" }}</span>
        <rzslider
          rz-slider-model="player.value"
          rz-slider-options="player.options"
          class="input-range"
        ></rzslider>
      </div>

	  </div>
</div>


