<div id="todo-page" class="padding-page">
  <h3>To do:</h3>
  <ul>
    <li>Add limit on user name letters.</li>
    <li>Show error alert when login/registration fails</li>
    <li>Add custom messages feature</li>
    <li>Why .off doesn`t work when there is error handling</li>
    <li>Test redirect condition - for now it`s counter</li>
    <li>Fix last snail move (~1000)</li>
    <li>Test my services</li>
    <li>Rewrite serch game service: First condition - if no one is seaching game create commandor. Then run my function, pass to first three gameUrl. If there is commandor watch for the gameUrl value. When the game ends delete commander and maybe pass "" to gameId</li>
  </ul>

  <h3>Done:</h3>
  <ul>
    <li class="line-through">Make modal for winner</li>
    <li class="line-through">Make introduction</li>
    <li class="line-through">Refactor router config</li>
    <li class="line-through">Fix transition broking effect</li>
    <li class="line-through">Make transition on range inputs</li>
    <li class="line-through">Fix bug on log in when user id is not setting</li>
    <li class="line-through">Rewrite start service</li>
    <li class="line-through">Make gameroom method that will create room object with 3 players, run game, return data end delete room object in the end</li>
    <li class="line-through">Test redirect on different devices</li>
    <li class="line-through">User Authentication via email and password</li>
    <li class="line-through">Create users object with searching property</li>
    <li class="line-through">Find four users that are currently searching for game(Try: ref.orderByChild("searching").equals("true").limitToFirst(4) )</li>
    <li class="line-through">Make snail service add remove all functionality to it</li>
    <li class="line-through">Make login ui</li>
    <li class="line-through">Remove project to ionic generator</li>
    <li class="line-through">Rewrite log out function so that it need to call isAuth() first and call logOut() on success if not auth</li>
  </ul>
</div>


