<div id="todo-page" class="padding-page">
    <h3>To do:</h3>
    <ul>
      <li>Rewrite start service</li>
      <li>Make gameroom method that will create room object with 3 players, run game, return data end delete room object in the end</li>
      <li>Make transition on range inputs</li>
      <li>Add limit on user name letters. Make responsive header</li>
      <li>Test redirect on different devices</li>
      <li>Fix bug on log in when user id is not setting</li>
      <li>Why .off doesn`t work when there is error handling</li>
      <li>Redirect on right condition</li>
    </ul>

    <h3>Done:</h3>
    <ul>
      <li class="line-through">User Authentication via email and password</li>
      <li class="line-through">Create users object with searching property</li>
      <li class="line-through">Find four users that are currently searching for game(Try: ref.orderByChild("searching").equals("true").limitToFirst(4) )</li>
      <li class="line-through">Make snail service add remove all functionality to it</li>
      <li class="line-through">Make login ui</li>
      <li class="line-through">Remove project to ionic generator</li>
      <li class="line-through">Rewrite log out function so that it need to call isAuth() first and call logOut() on success if not auth</li>
    </ul>
</div>


